@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream: #F5E6D3;
  --chocolate: #4B2E2B;
  --gold: #d4af37;
  --light-pink: #F5E6D3;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply min-h-screen bg-cream font-sans text-chocolate antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
